.overlord_container_cartItems {
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 1.5em;
  margin-top: 2em;
  background-color: hsl(0, 1%, 21%);
  margin: 1em;
  border-radius: 15px;
  box-shadow: 5px 5px 20px 10px rgba(29, 28, 28, 0.1);
}

.info_cartItems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  padding: 1em;
}

.name_cartItems {
  font-size: 1.5em;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

.price_cartItems {
  font-size: 1.3em;
  color: hsl(0, 0%, 100%);
}

.remove_cartItems {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: hsl(0, 0%, 20%);
  padding: 0.5em;
  margin: 1em;
  border: 1px solid #000;
  border-radius: 8px;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.remove_cartItems:hover {
  background-color: #fff;
  color: #000;
}
