.message-popup {
  position: fixed;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 10px 20px;
  font-size: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
  animation: slide-down 0.5s ease, fade-out 0.5s 4.5s ease forwards;
}

@keyframes slide-down {
  from {
    top: -1vh;
    opacity: 0;
  }
  to {
    top: 10vh;
    opacity: 1;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}
